@import url('../logo/logo.css');

.header {
    width: 100%;
    max-width: 1440px;
    margin: 0 50px;
    min-height: 132px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #A5A5A5;
}

@media screen and (max-width: 1100px) {
    .header {
        margin: 0 40px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 0 20px;
    }
}