@import url('../logo/logo.css');

.header {
    margin: 0 200px;
    min-height: 132px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #A5A5A5;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 0 40px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        margin: 0 20px;
    }
}