.userJob {
    font-family: 'Inter';
    margin: 20px 0 0 0;
    font-size: 20px;
    line-height: 25px;
    color: #f1f1f1;
}

@media screen and (max-width: 1100px) {
    .userJob {
        text-align: center;
    }
}